.container {
  text-align: center; 
  float: auto; 
  padding: 50px;
  overflow:scroll;
  }

.sidebar-left {
width: 550px;

}

.sidebar-right {
  width: 550px;
}

.btn {
  width: 450px;
}

/* search bar button */
.btn-success {
  color: #fff;
  background-color: lightblue;
  border-color: black;
}

.grid {
  display: grid;
  grid-gap: 1em;
  grid-column: 1 / 4;
}

@media all and (max-width: 700px) {
  aside,
  article {
    grid-column: 1 / 4;
  }
}

h1 {
  background: #eaeaea;
  grid-column: 1 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
}

aside {
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25vh;
}

/* Search Bar */

.form-control-borderless {
  border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}