.container {
  text-align: center; 
  float: auto; 
  padding: 50px;
  overflow:scroll;
  }
  
  .sidebar-left {
  width: 550px;
  
  }
  
  .sidebar-right {
    width: 550px;
  }
  
  #artistBtn {
    width: 100%;
  }
    
  #venue {
    width: 100%;
  } 
  
  .grid {
    display: grid;
    grid-gap: 1em;
    grid-column: 1 / 4;
  }
  
  @media all and (max-width: 700px) {
    aside,
    article {
      grid-column: 1 / 4;
    }
  }
  
  #map {
    background: #eaeaea;
    grid-column: 1 / 4;
    height: 300px;
    width: 95%;
  }
  
  #tour {
    background: #eaeaea;
    text-align: center; 
    float: auto; 
    padding: 50px;
    overflow:scroll;
  }
  
  .aside {
    background: #eaeaea;
    text-align: center; 
    float: auto; 
    padding: 50px;
    overflow:scroll;
  }
  
  /* Search Bar */
  
  .form-control-borderless {
    border: none;
  }
  
  .form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: 2px solid black;
    outline: none;
    box-shadow: none;
  }